.cta {
    background-color: var(--color-bg-secondary);
    padding: 80px 32px 80px;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        padding: 64px 20px;
    }

    &-wrapper {
        max-width: 900px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 15px;

        @media (max-width: 768px) {
            max-width: 440px;
            margin: 0 auto;
            margin-bottom: 18px;
        }
    }

    &__title-decor {
        position: relative;
    }

    &__title-decor::after {
        position: absolute;
        top: -6px;
        left: -2px;
        content: "";
        display: block;
        width: 133px;
        height: 50px;
        background-image: url("../img/decor2.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__link {
        color: var(--color-text-main);

        @media (max-width: 768px) {
            display: block;
            max-width: 343px;
            margin: 0 auto;
        }
    }
}
