.page-footer {
    position: relative;

    &__wrapper {
        max-width: 1920px;
        padding: 0 32px;
        margin: 0 auto;

        @media (max-width: 768px) {
            padding: 0 20px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: var(--color-border);
        top: 0;
        left: 0;
        right: 0;
    }
}

// FOOTER TOP

.footer-top {
    padding: 40px 0 42px;
    display: grid;
    grid-template-areas:
        "socials menu"
        "logo menu";
    grid-template-columns: 1fr 3fr;

    @media (max-width: 1024px) {
        grid-template-areas:
            "logo socials"
            "menu menu";
        row-gap: 40px;
        padding-bottom: 10px;
    }

    &__socials-list {
        grid-area: socials;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0;
            gap: 24px;
        }
    }

    &__socials-item {
        display: flex;
    }

    &__socials-link {
        display: inline-block;
        padding-left: 24px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 18px 18px;

        &:link,
        &:visited {
            color: var(--color-text-secondary);
        }

        &:hover {
            transform: scale(1.3);
        }

        &:hover span {
            color: var(--color-text-main);
            font-weight: 500;
        }

        @media (max-width: 1024px) {
            width: 22px;
            height: 22px;
            padding: 0;
            background-position: center;
        }

        @media (max-width: 1024px) {
            & span {
                display: none;
            }
        }
    }

    // MENU

    &__menu-wrapper {
        grid-area: menu;
        display: flex;
        max-width: 1230px;
        width: 100%;
        justify-content: space-between;
        justify-self: end;

        @media (max-width: 1024px) {
            gap: 60px;
            flex-wrap: wrap;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 1024px) {
            margin-bottom: 32px;
        }
    }

    &__menu-title {
        margin-bottom: 5px;
        line-height: normal;
        font-size: 16px;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }

    &__menu-link:link,
    &__menu-link:visited {
        display: inline-block;
        color: var(--color-text-secondary);
    }

    &__menu-link:hover {
        color: var(--color-text-main);
        transform: scale(1.1);
        font-weight: 500;
    }
}

.link-instagram {
    background-image: url("../img/instagram.svg");
}

.link-facebook {
    background-image: url("../img/facebook.svg");
}

.link-twitter {
    background-image: url("../img/twitter.svg");
}

.link-pinterest {
    background-image: url("../img/pinterest.svg");
}

.logo-link {
    grid-area: logo;
}

// FOOTER BOTTOM

.footer-bottom {
    padding: 16px 0;
    position: relative;
    display: flex;

    @media (max-width: 768px) {
        font-size: 12px;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        background-color: var(--color-border);
        top: 0;
        left: -32px;
        width: calc(100% + 64px);

        @media (max-width: 768px) {
            left: -20px;
            width: calc(100% + 40px);
        }
    }

    &__lang-list {
        margin-right: 24px;
        background-image: url("../img/language.svg"), url("../img/arrow-down.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        background-size: 18px 19px, 13px 8px;
    }

    &__lang-link {
        &:link,
        &:visited {
            display: block;
            padding-left: 28px;
            padding-right: 18px;
            color: var(--color-text-secondary);
        }

        &:hover {
            color: var(--color-text-main);
            font-weight: 500;
        }
    }

    &__copy-link:link,
    &__copy-link:visited {
        color: var(--color-text-secondary);
    }

    &__copy-link:hover {
        color: var(--color-text-main);
        font-weight: 500;
    }

    &__copy-link + &__copy-link {
        margin-left: 15px;
    }

    &__copyright {
        margin-left: auto;
        color: var(--color-text-secondary);

        @media (max-width: 768px) {
            margin: 0;
        }
    }
}
