.page-header {
    font-size: 16px;
    max-width: 1920px;
    padding: 0 32px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 13px;
    position: relative;

    @media (max-width: 480px) {
        padding: 15px 16px 13px 16px;
    }
}

.page-nav {
    flex: 1;

    &__list {
        display: flex;
        gap: 32px;
        margin-left: 30px;

        @media (max-width: 1024px) {
            display: none;
            flex-direction: column;
            margin: 0;
            position: absolute;
            left: 0;
            width: 100%;
            top: 68px;
            padding: 32px;
            z-index: 15;
            background-color: #fff;
            border-bottom: 1px solid var(--color-border);
            gap: 10px;
        }
    }

    .page-nav__list.page-nav__list--opened {
        display: flex;
    }

    &__link:link,
    &__link:visited {
        display: block;
        padding: 12px 5px;
        color: var(--color-text-main);
        border-radius: 4px;
    }

    &__link:hover {
        font-weight: 500;
        background-color: var(--color-bg-first);
    }

    &__link:active {
        font-weight: 400;
    }
}

.page-header--opened .page-nav {
    display: block;
}

.user-nav {
    @media (max-width: 1024px) {
        margin-right: 44px;
    }
}

.user-nav__login:hover {
    font-weight: 500;
}

.user-nav__login:active {
    font-weight: 400;
}

.page-header__burger-btn {
    position: relative;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    display: none;

    @media (max-width: 1024px) {
        display: block;
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 480px) {
        right: 18px;
    }

    & span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-text-secondary);
        position: absolute;
        left: 0;
    }

    & span:nth-child(1) {
        top: 1px;
    }

    & span:nth-child(2) {
        top: 50%;
    }

    & span:nth-child(3) {
        bottom: 1px;
    }

    &.page-header__burger-btn--opened span:nth-child(1) {
        display: none;
    }

    &.page-header__burger-btn--opened span:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &.page-header__burger-btn--opened span:nth-child(3) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
