.intro {
    background-color: var(--color-bg-secondary);

    &-wrapper {
        max-width: 1480px;
        width: 100%;
        margin: 0 auto;
        padding: 18px 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1920px) {
            padding: 38px 84px 39px;
        }

        @media (max-width: 1440px) {
            padding: 56px 115px 57px;
        }

        @media (max-width: 1280px) {
            padding: 80px 74px;
        }

        @media (max-width: 1024px) {
            padding: 32px 47px 40px 47px;
            flex-direction: column;
        }

        @media (max-width: 768px) {
            padding: 32px 20px 40px 20px;
        }
    }

    &__content {
        @media (max-width: 1024px) {
            order: 5;
            text-align: center;
            width: 100%;
        }
    }

    &__media {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 1024) {
            order: 1;
            justify-content: center;
            margin-bottom: 18px;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 15px;

        @media (max-width: 1280px) {
            font-size: 30px;
        }
    }

    &__text {
        line-height: 20.8px;
        color: var(--color-text-secondary);
        margin-bottom: 30px;
    }

    &__link {
        display: inline-block;
        color: var(--color-text-main);

        @media (max-width: 1024px) {
            padding: 11px 43px;
        }

        @media (max-width: 768px) {
            display: block;
            width: 100%;
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

    &__img {
        @media (max-width: 1440px) {
            width: 437px;
            height: 268px;
        }
    }
}
