.design-tags {
    grid-area: tags;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}

.design-tags__list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.design-tags__list::-webkit-scrollbar {
    display: none;
}

.design-tags__item {
    flex-shrink: 0;
}

.design-tags__tag {
    font-size: 14px;
    padding: 7px 20px;
    border: none;
    border-radius: 36px;
    background-color: var(--color-bg-first);
    cursor: pointer;
    transition: color 0.1s linear 0s;

    &:hover {
        color: var(--color-secondary);
    }
}

.design-tags__arrow-btn {
    position: absolute;
    transform: translateY(-50%);

    &--prev {
        left: -10px;
    }

    &--next {
        right: -10px;
    }
}
