.templates {
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 32px 100px;

    @media (max-width: 1440px) {
        padding: 0 32px 80px;
    }

    @media (max-width: 768px) {
        padding: 0 16px 64px;
    }

    &__title {
        max-width: 550px;
        margin: 0 auto 15px;
    }

    &__title-decor {
        position: relative;
    }

    &__title-decor::before {
        position: absolute;
        top: -2px;
        left: -1px;
        content: "";
        display: block;
        width: 193px;
        height: 48px;
        background-image: url("../img/decor.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 5;
    }

    &__subtitle {
        line-height: 20.8px;
        color: var(--color-text-secondary);
        margin-bottom: 30px;
    }

    &__slider-wrapper {
        position: relative;
    }

    &__slider {
        margin-bottom: 30px;
        overflow-x: auto;
    }

    // &__slider::-webkit-scrollbar {
    //     display: none;
    // }

    &__list {
        display: flex;
        gap: 15px;
    }

    &__list + &__list {
        margin-top: 15px;
    }

    &__item {
        flex-shrink: 0;
    }

    &__arrow-btn--prev {
        left: -16px;
    }

    &__arrow-btn--next {
        right: -16px;
    }
}
