:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Work Sans", sans-serif;
    --third-family: "Raleway", sans-serif;

    --color-main: #ffce22;
    --color-secondary: #4071e6;
    --color-secondary--accent: #204aad;
    --color-text-main: #1f2128;
    --color-text-secondary: #36373c;
    --color-bg-first: #f1f4fa;
    --color-bg-secondary: #fdf8f3;
    --color-border: #e8eaeb;

    --shadow-btn: 0px 6px 10px 0px rgba(141, 114, 19, 0.15);

    // --website-color-orange: #ffce22;
    // --website-color-light-orange: #fdf8f3;
    // --website-color-blue: #4071e6;
    // --website-color-black: #1f2128;
    // --website-color-lighter-black: #36373c;
    // --website-color-grey: #f1f4fa;
    // --main-color-black: #1f2128;
    // --main-color-white: #fafafa;
    // --additional-color-attention: #f05454;
    // --additional-color-active: #4b8ae7;
    // --layer-colors-light-backgroundcanvas: #e8eaeb;
    // --layer-colors-light-back: #f3f4f6;
    // --layer-colors-light-front: #f8f9fc;
    // --layer-colors-light-cleanwhite: #fff;
    // --layer-colors-dark-backgroundcanvas: #202225;
    // --layer-colors-dark-back: #2b333f;
    // --layer-colors-dark-front: #404b5b;
}
